* {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
/* -------------------Seta de retorno para o inicio da pagina--------- */
.Inicio {
    position: fixed;
    bottom: 30px;
    right: 4%;
    
}
/* -----------------Menu------------------*/ 

body{
    background-color: rgb(179, 35, 71);
}
.menu {
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: rgb(46, 46, 46);
    padding: 40px;
    max-width: 100%;
    display: flex;
}
.flex {
	justify-content: space-evenly;
}
.item:hover{
    font-size: 20px;
    font-family: monospace;
}
/* -----------------------------------------*

/* -------------------------Corpo-------------*/
/* ---------<div class=" Body Sobre">--------- */
.Sobre {
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 3%;
    width: 80%;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.Sobre-flex {
    display: flex;
    justify-content: space-between;
}
.Sobre h1 {
    margin-bottom: 3%;
    text-align: center;
}
.Sobre-Mim{
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(252, 252, 253);
}
.Sobre-imagem {
    width: 250px;
}
@Media (max-width: 1030px) {
    .Sobre-imagem {
        width: 300px;
    }
}
@Media (max-width: 950px) {
    .Sobre-imagem {
        display: none;
    }
    .Sobre-flex p {
        font-size: medium;
    }
    .Sobre h1 {
        font-size: 1.5em;
    }
}
@Media (max-width: 620px) {
    .Sobre-flex p {
        font-size: small;
    }
    .Sobre h1 {
        font-size: 1.2em;
    }
}
/* -----------------------------------------*/

/*--------<div class=" Body Projetos">-------*/
.Projetos {
    background-color:  rgb(179, 61, 90);
    text-align: center;
    padding: 25px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.item-galeria {
    width: 100%;
  }
.swiper {
    height: 500px;
  }
.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@media (max-width: 450px) {
    .swiper {
      height: 270px;
    }
  }
/* ---------------------------------------------- */

/* --------<div class=" Body Conhecimentos">------ */
.Conhecimentos{
    background-color: rgb(179, 35, 71);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
}
.Conhecimentos-flex {
    display: flex;
    flex-wrap: wrap;
}
/* -------------------- Icones e texto --------------*/
.Conhecimentos-itens {
    background-color:  rgb(230, 255, 255);
    padding: 1.3%;
    margin: 20px;
    border-radius: 10%;
}
.Conhecimentos-texto {
    padding: 35px;
}
.Conhecimentos-texto p {
    font-size: large;
}
.Conhecimentos-texto .linguagem {
    font-size: medium;
}
/* --------------------reponsividade do texto-----------*/
@media (max-width: 1194px) {
    .Conhecimentos-texto {
            padding-left: 0px;
    }
}
@media (max-width: 1155px) {
    .Conhecimentos-texto .linguagem{
            font-size: small;
    }
}
@media (max-width: 1046px) {
    .Conhecimentos-flex {
        display: inline-block;
        height: 125px;
    }
    .Conhecimentos-itens {
        display: contents;
        background-color: transparent;
    }
    .Conhecimentos-texto{
        padding: 0px;
    }
    .Conhecimentos-texto .linguagem{
        font-size: medium;
        margin-bottom: 100px;
}
}
@media (max-width: 670px) {
    .Conhecimentos-texto .linguagem {
        font-size: medium;
    }
}
@media (max-width: 605px) {
    .Conhecimentos-texto .linguagem{
        font-size: 2.5vw;
    }
}

/*-----------------efeito hover do icone em relação ao seu texto---------*/
.Conhecimentos-itens:hover ~ .Conhecimentos-texto p {
    display: none;
}
.Conhecimentos-texto .linguagem{
    display: none;
} 
.html5:hover ~ .Conhecimentos-texto .html5 {
    display: block;
}
.css3:hover ~ .Conhecimentos-texto .css3{
    display: block;
}.js:hover ~ .Conhecimentos-texto .js {
    display: block;
}
.react:hover ~ .Conhecimentos-texto .react {
    display: block;
}





