* {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: Lato, sans-serif;
}
body{
    background-color: #201b2c;
}
h1 {
    font-family: Open Sans, sans-serif;
}

/* -------------------Seta de retorno para o inicio da pagina--------- */
.SetaDeRetorno {
    position: fixed;
    bottom: 30px;
    right: 4%;
    z-index: 100;
    bottom: 20px;
    right: 20px; 
    transform: translateY(0); 
    transition: transform 1s ease; 
}
.SetaDeRetorno:hover  {
    transform: translateY(-50px)
}

/* -----------------Menu------------------*/ 


.menu {
    font-size: larger;
    background-color: #2f2841;
    padding: 40px;
    max-width: 100%;
    display: flex;
}
.flex {
	justify-content: space-evenly;
}
.item:hover{
    border-bottom: 2px solid white;
    font-size: 20px;
    
}
/* -----------------------------------------*

/* -------------------------Corpo-------------*/
/* ---------<div class=" Inicio">--------- */
.Inicio {
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 3%;
   
    padding: 10px;
    
}
.Inicio-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    height: 150px;
    font-size: 30px;
}
.Button-Flex {
    display: flex;
    justify-content: center;
}
.Inicio button {
    margin-left: 10px;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 10px;
    width: 150px;
    height: 55px;
}
.link-para-Contato a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Lato, sans-serif;
    width: 100%;
    height: 100%;
}

.link-para-Contato:hover, .link-para-Contato:hover p, .link-para-Contato:hover path {
    background-color: white;
    color: #201b2c;
    fill: #201b2c;

}
.link-para-Contato:hover {
    width: 160px;
}
#textoMaquina {
    border-right: .15em solid white; 
    white-space: nowrap; 
    overflow: hidden;
    animation: maquinaEscrever 2s steps(40, end), blinkCursor .5s step-end infinite alternate;
}
@keyframes maquinaEscrever {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blinkCursor {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
/* ---------<div class="Sobre">--------- */
.Sobre {
    background-color:  #261d3b;
    font-size: larger;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}
.Sobre-flex {
    display: flex;
    border: solid 10px transparent;
    border-left-width: 100px;
    border-right-width: 100px;
}
.Sobre h1 {
    margin-bottom: 3%;
    text-align: center;
}
.Sobre p {
     text-indent: 2rem;
}
.Sobre-imagem {
    width: 250px;
}

@Media (max-width: 1030px) {
    .Sobre-imagem {
        width: 300px;
    }
}
@Media (max-width: 950px) {
    .Sobre-imagem {
        display: none;
    }
    .Sobre-flex p {
        font-size: medium;
    }
    .Sobre h1 {
        font-size: 1.5em;
    }
}

/* -----------------------------------------*/

/*--------<div class=" Body Projetos">-------*/
.Projetos {
    text-align: center;
    padding: 25px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.project-img {
     position: relative;
}
.item-galeria {
   margin-top: 10px;
    width: 500px;
    height: 400px;
  }
.descricaoProjeto {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.descricaoProjeto:hover {
    opacity: 1;
}
.descricaoProjeto h1 {
    font-size: 35px;
    margin-bottom: 15px;
}
.descricaoProjeto p {
    font-family: Lato, sans-serif;
    font-size: 18px;
}
.descricaoProjeto > * {
    transform: translateY(25px);
    transition: transform 0.6s;
}
.descricaoProjeto:hover > * {
    transform: translateY(0px);
}
.estiloProjeto {
    border-radius: 10px;
    border: solid transparent;
}
.estiloProjeto b {
    text-decoration: underline;
}
.swiper {
    height: 500px;
  }
.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@media (max-width: 450px) {
    .swiper {
      height: 270px;
    }
  }
/* ---------------------------------------------- */

/* --------<div class=" Body Tecnologias">------ */
.Tecnologias{
    background-color:  #261d3b;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
}
.Cards-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.Card {
    position: relative;
    margin-top: 20px;
    width: 250px;
    height: 300px;
}
.Card:hover .Virar-Card{
    transform: rotateY(180deg);
}
.Virar-Card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}
#Estilo-Card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    backface-visibility: hidden;
}
.Frente-Card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}
.Frente-Card img {
    width: 200px;
    height: 200px; 
}
.Verso-Card {
    background: #ca4030;
    transform: rotateY(180deg);
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Verso-Card h1 {
    margin-bottom: 15px;
    font-size: 25px;
}